<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% if page.title %} {{page.title}} | {% endif %}connect.com.au API documentation</title>
		<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
		{% if page.is_root %}
			<script src="./js/jquery-1.8.2.min.js"></script>
			<script src="./js/vkbeautify.0.99.00.beta.js"></script>
			<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="./css/flat-ui.css">
			<link rel="stylesheet" type="text/css" href="./css/main.css">
		{% endif %}
		{% if page.is_product %}
			<script src="../js/jquery-1.8.2.min.js"></script>
			<script src="../js/vkbeautify.0.99.00.beta.js"></script>
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../css/flat-ui.css">
			<link rel="stylesheet" type="text/css" href="../css/main.css">
		{% endif %}
		{% if page.is_category %}
			<script src="../../js/jquery-1.8.2.min.js"></script>
			<script src="../../js/api_generate.js"></script>
			<script src="../../js/vkbeautify.0.99.00.beta.js"></script>
			<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../../css/flat-ui.css">
			<link rel="stylesheet" type="text/css" href="../../css/main.css">
		{% endif %}
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="http://connect.com.au/">Home</a></li>
							{% if page.is_root %}
								<li><a href="./">API</a></li>
								<li><a href="./cloud">Cloud</a></li>
								<li><a href="./cdn"> CDN </a></li>
							{% endif %}
							{% if page.is_product %}
								<li><a href="../">API</a></li>
								<li><a href="../cloud">Cloud</a></li>
								<li><a href="../cdn"> CDN </a></li>
							{% endif %}
							{% if page.is_category %}
								<li><a href="../../">API</a></li>
								<li><a href="../../cloud">Cloud</a></li>
								<li><a href="../../cdn"> CDN </a></li>
							{% endif %}
							
							<li class="striked"><a href="#"> Storage </a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="connect-banner" class="full-container container">
			<div class="container">
				{% if page.is_root %}<img src="./img/connect-logo.png" />{% endif %}
				{% if page.is_product %}<img src="../img/connect-logo.png" />{% endif %}
				{% if page.is_category %}<img src="../../img/connect-logo.png" />{% endif %}
				<h2>Developer Manual</h2>
			</div>
		</div>
		<div id="primary-content" class="full-container container">
			<div class="container">
				{{ content }}
			</div>
		</div>
		<div id="footer" class="full-container container">
			<div class="container">
				<div class="row text-center">
					{% if page.is_root %}
						<img class="small-logo" src="./img/connect-logo-white.png" />
						<img src="./img/aapt.png" />
					{% endif %}
					{% if page.is_product %}
						<img class="small-logo" src="../img/connect-logo-white.png" />
						<img src="../img/aapt.png" />
					{% endif %}
					{% if page.is_category %}
						<img class="small-logo" src="../../img/connect-logo-white.png" />
						<img src="../../img/aapt.png" />
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>